<link rel="stylesheet" href="./css/detail.css">
<div class="detail p-5">
    <div class="row">
        
        <div class="col-lg-8 col-md-8">
            <img src="/uploads/room/room-{{roomID}}.jpg" alt="Phòng ngủ" class="img-fluid room-image">

            <div class="room-description">
                <h1>Phòng ngủ {{room_type}}</h1>
                {{description}}
            
            </div>


            <div class="room-facilities">
                <h3>Tiện nghi phòng</h3>
                <ul>
                    <li>Giường đơn hoặc giường đôi</li>
                    <li>Máy điều hòa không khí</li>
                    <li>TV màn hình phẳng</li>
                    <li>Tủ lạnh mini</li>
                    <li>Wifi miễn phí</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row mb-1">
                <div class="col-md-12">
                    <img src="/img/rooms/phong1.jpg" alt="Ảnh 1" class="img-fluid">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-md-12">
                    <img src="/img/rooms/room1.jpg" alt="Ảnh 2" class="img-fluid">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-md-12">
                    <img src="/img/rooms/room-5.jpg" alt="Ảnh 3" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>