<link rel="stylesheet" href="./css/footer.css">
<div class="footer pt-5 pb-4">
    <div class="container">
        <div class="row mx-4">
            <div class="col-md-4">
                <h5 class="text-center">Về chúng tôi</h5>
                <div class="mt-4">
                    <b>Địa chỉ: </b><p>Số 19, đường Nguyễn Hữu Thọ, Phường Tân Phong, Quận 7, Thành phố Hồ Chí Minh</p>
                </div>

                <ul class="list-unstyled">
                    <li><a href="#">Điều khoản</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-center">Các loại phòng</h5>
                <div class="mt-4 ms-3">
                    <ul class="list-unstyled px-5 mx-5">
                        <li><a href="#">Standard Room</a></li>
                        <li><a href="#">Deluxe Room</a></li>
                        <li><a href="#">Suite Room</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">
                <h5 class="text-center">Thông tin liên hệ</h5>
                <ul class="list-unstyled ms-3 mt-4">
                    <li><b>Fanpage: </b><a href="#">facebook.com/p4nthershotel</a></li>
                    <li><b>Điện thoại: </b><a href="#">1234 9876</a></li>
                    <li><b>Email: </b><a href="#">p4nthers@hotelbookingonline.com</a></li>
                </ul>
            </div>
            <div class="col-md-12 text-center mt-3">
                <p>&copy; 2023 Hotel Booking Online. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>